#header #feed{
    font-weight: bold;
    color: var(--darkGreenColor);
}
.left, .right{
    width: 25%;
}
.center{
    width: 50%;
}

#main, .publications-add, .filters-type-buttons{
    display: flex;    
}
.filters-type-buttons{
    justify-content: space-between;
}
.filters, .filters-type{
    margin-top: 20px;
}
.filters legend{
    font-weight: bold;
    color: var(--blackColor);
    text-align: center;
}
.filters span{
    margin-top: 5px;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    font-weight: normal;
    height: 30px;
    display: flex;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.filter-left{
    border-radius: 5px 0 0 5px;
}
.filter-right{
    border-radius: 0 5px 5px 0;
}
.p3{
    width: 1/3%;
}
.p2{
    width: 50%;
}