
.currentSession p{
    margin: 10px 10px 0 10px;
    
}
.currentSession button{
    width: 45%;
    margin-top: 10px;
}
.startSessionButton{
    background-color: var(--yellowColor);
}
.addFishButton{
    background-color: var(--greenColor);
}
.stopSessionButton{
    background-color: var(--redColor);
}


@media screen and (max-width: 1000px) {   
    .currentSession{
        margin: 0 50px;       
    }  
    .currentSession legend{
        color: var(--whiteColor);
    } 
   
}
    