:root {
    --backgroundColor: #FAFAF5;
    --greenColor: #A3A65D;
    --darkGreenColor: #595331;
    --yellowColor: #F2B705;
    --blackColor: #252621;
    --whiteColor: #FFFFFF;
}

*{    
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--whiteColor);
    font-family: "Century Gothic";
    font-size: 14px;
}

p{
    color: var(--blackColor);
}

body{
    background-color: var(--backgroundColor);
}
#main{
    width: 1000px;
    margin: 0 auto;
    margin-top: 110px;
}



@media screen and (max-width: 1000px) {
    #main{
        width: 90%;
        margin-top: 90px;
    }    
}