:root {
    --backgroundColor: #FAFAF5;
    --greenColor: #A3A65D;
    --darkGreenColor: #595331;
    --yellowColor: #F2B705;
    --blackColor: #252621;
    --whiteColor: #FFFFFF;
    --redColor: #FF5733;
}

*{    
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--whiteColor);
    font-family: "Century Gothic";
    font-size: 14px;
}
html, body{
    height: 100%;
}
body{
    background-color: var(--backgroundColor);
    min-width: 150px;
}
#main{
    max-width: 1000px;
    margin: 0 auto;  
    padding-top: 110px;
}

.left, .right{
    width: 25%;
}
.center{
    width: 50%;
}

#main p{
    color: var(--blackColor);
}

@media screen and (max-width: 1000px) {
    #main{
        max-width: 1000px;
        margin: 0 auto;  
        padding-top: 80px;
    }
}